.home-category {
    background-color: rgb(255, 20, 20);
    width: 400px;
    height: 80px;
    position: relative;
    left:36%;
    top:30px;
    border-radius:4px;
}
.home-category-checkbox {
    display: none;
    
}
.home-category-checkbox-l {
    font-size:30px; 
    color:white;  
    margin-left:10%; 
    position: relative; 
    top:10px;
}

.home-pulldown {
    margin-top:0; 
    background-color: rgb(255, 20, 20);
    width: 400px;
    height: 220px;
    position: relative;
    left:0;
    top:50px;
    border-radius:4px;
   
}
.home-pulldown-list {
    list-style:none;
    margin-top:0;
}
li {
    margin-top:8%;
    margin-bottom:8%;
}
.home-content-icon-a {
    display: inline-block;
    width :40px;
    height:40px;
    background-color: rgb(255, 20, 20);
    background-image: url(../static/img/cover.png);
    background-repeat:no-repeat;
    background-size: 300%;
    background-position-x: 7px;
    background-position-y: -33px;
    

    position: relative; 
    left:10%;
    top:20px;

}
.home-content-icon-b {
    display: inline-block;
    width :40px;
    height:40px;
    background-color: rgb(255, 20, 20);
    background-image: url(../static/img/cover.png);
    background-repeat:no-repeat;
    background-size: 300%;
    background-position-x: -43px;
    background-position-y: 4px;
    

    position: relative; 
    left:10%;
    top:20px;
    
}
.home-content-icon-c {
    display: inline-block;
    width :40px;
    height:40px;
    background-color: rgb(255, 20, 20);
    background-image: url(../static/img/cover.png);
    background-repeat:no-repeat;
   

    background-size: 300%;
    background-position-x: 7px;
    background-position-y: 5px;
    

    position: relative; 
    left:10%;
    top:20px;
    
}
.home-pulldown-content {
    vertical-align: 6px;
    font-size:30px;
    color:white;
    position: relative; 
    left:10%;
    top:14px;
}
.home-category-trado {
    display: inline-block;
    background-color: transparent;
    margin: 0;
    margin-left:10%;
    padding: 0;
    width:0;
    height:0;
    border:20px solid;
    border-color: white transparent transparent transparent;
    /* z-index: 10;
    position: absolute; */
    position: relative;
    top:35px;
    
}
.home-category-traup {
    background-color: transparent;
    margin: 0;
    margin-top:0;
    padding: 0;
    width:0;
    height:0;
    border:20px solid;
    border-color: transparent transparent rgb(255, 20, 20) transparent;
    /* z-index: 10;
    position: absolute; */
    position: relative;
    top:100%;
    left:82%;
    display: none;
}
#home-content-i {
    display: none;
}
#home-category-checkbox-i:hover~#home-content-i
{
    display: block;
}
#home-category-checkbox-i:hover~.home-category-traup
{
    display: block;
}