@font-face {
    font-family: "myfont1";
    src: url("./Merriweather.ttf");
}
@font-face {
    font-family: "myfont2";
    src: url("./Microsoft Sans Serif.ttf");
}
.home-background {
    background-image: linear-gradient(to bottom right, #ee7752, #c73c7c, #23a6d5, #23d5ab);
    width: 100%;
    /* height: 100%; */
    margin: 0;
    padding: 0 0 50px 0 ;
}
.home-title {
    font-size:20px;
    font-weight: bold;
    color: #34444a;
    text-align: center;

}
.home-eachPart {
    width: 100%;
    background-color: transparent;

}
.home-firstPart-content {
    font-size: 40px;
    letter-spacing: 2.4px;
    text-align: center;
    font-weight: bold;
    color:white;
    text-shadow: 0 5px 1px black, 0 6px 1px black, 0 4px 1px black, 0 3px 1px black, 0 2px 1px black, 0 1px 1px black;
    margin: 10px 0 10px 0;

}
.home-secondPart-background {
    margin: 0 auto;
    padding: 10px 40px 5px 40px;
    width: 30%;
    height: 150px;
    background-color: white;
    text-align: left;
    border-radius: 5px;

}
.home-secondPart-content {
    padding: 8px 0 0 8px;
    margin: 0;
    font-size: 40px;
    color: green;
}
.home-thirdPart-content {
    background-color: black;
    width: 300px;
    height: 200px;
    
}
.htc-1 {
    background-color: white;
    float: left;
    margin-left:10%;
    
}
.htc-2 {
    background-color: white;
    margin-left: 40%;
    
}
.htc-3 {
    background-color: white;
    float: right;
    margin-right:10%;

}
.home-thirdPart-img {
    width: 280px;
    height: 180px; 
    margin: 10px;

}
.hti {
    display: none;
}
.hti-hover {
    display: block;
    width: 280px;
    height: 180px; 
    margin: 10px;
    /* background-color: black; */

}
.hti-hover-title {
    margin: 0;
    padding: 16px 0 0 4px;
    text-align: center;
}
.hti-hover-content {
    text-align: center;
    /* font-family: myfont1,serif; */
    font-family: myfont1;
    
}
.hti-hover-click {
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    color:white;
    width: 80px;
    background-color: black;
    height: 30px;
    padding: 10px 5px 0 5px;
    
}
.htih-1 {
    background-color: rgba(58, 1, 132, 0.44); 
    /* background-color: black; */
    display: none;

}
.htih-2 {
    position: relative;
    top:10px; 
    background-color: transparent;
    display: none;

}
.htih-3 {
    background-color: white;
    display: none;

}
.htiht-3 {
    border: 2px solid;
    border-color: transparent transparent black transparent;
}
.hti-1:hover~.htih-1 {
    display: block;
    position: relative;
    top:-204px;

}
.hti-2:hover~.htih-2 {
    display: block;
    position: relative;
    top:-204px;

}
.hti-3:hover~.htih-3 {
    display: block;
    position: relative;
    top:-204px;

}
.home-fouthtPart-background {
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 40px 5px 40px;
    max-width: 600px;
    max-height: 1200px;
    background-color: white;
    text-align: left;
    border-radius: 5px;
    columns: 3 6em;
    column-gap: 2em;
    font-family: myfont2;
    font-size:20px;
    /* font-family: myfont2,serif; */
    
}
.home-fouthtPart-title::after {
    content: "";
    border: 20px solid;
    border-color: transparent transparent white transparent;
    position: relative;
    top: 10px;
    left: -200px;

}
.home-fouthtPart-content {
    position: relative;
    top: -20px;

}


